

<link href="~/Scripts/bootstrap-table.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-table.js"></script>

<script src="~/Scripts/Custom/Book.js"></script>

    <div class="addBook">
        @Html.Partial("AddBook")
    </div>
   
<div id="custom-toolbar" class="form-inline">
                <div class="form-group">
                
                <input class="form-control search" id="BookName" placeholder="Unit Name" type="text" name="Drugname">
                </div>

    <div class="form-group">
                
                    <input type="button" id="btnAdd" class="btn btn-primary" value="Add Book">
                </div>
    <a class="btn btn-danger" data-toggle="modal" href="#myModal3">
        Alert !
    </a>
    </div>

<table class="table table-hover" data-url='#custom-toolbar' data-toolbar="#post" data-show-columns="true" data-show-filter="true" data-click-to-select="true"
       id="grid">
    <thead>

    </thead>
</table>





