@model IEnumerable<BookOcean.Domain.Book>

@{
    ViewBag.Title = "Index";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>


@*<table>
    <thead>
        <th>Class Name</th>

    <th>Book Name</th>
    <th>Publication</th>
    
    <th>Price</th>
    
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Standard.ClassName</td>
            <td>@item.BookName</td>
            <td>@item.Publication</td>
            <td>@item.SalePrice</td>

        </tr>
    }


</table>*@

